<h1>Application Show Page</h1>

Title: <%= @application.title %><br>
Company: <%= @application.company %><br>
Location: <%= @application.location %><br>
Description: <%= @application.description %><br>
Posting URL: <%= @application.link %><br>
Date: <%= @application.date %><br>
Status: <%= @application.status %><br>
Notes: <%= @application.notes %><br>
Cover Letter: <%= @application.cover_letter %><br>
