<h1>Application Show Page</h1>

<%= @application.title %>
<%= @application.description %>
<%= @application.link %>
<%= @application.employer %>
<%= @application.location %>
<%= @application.date_applied %>
<%= @application.notes %>
<%= @application.status %>
